html(lang="en")
	head
		title Probando Interface Web
		meta(charset="utf-8")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
	body
		div(class="col-md-5 center-block")
			h1 Prueba de Parpadeo de LEDs
			form(method="post" action="/encender" style="margin-top:1.5em;")
				div(class="form-group")
					input(type="submit" class="btn btn-info" value="encender")
			form(method="post" action="/apagar" style="margin-top:1.5em;")
				div(class="form-group")
					input(type="submit" class="btn btn-info" value="apagar")				
			form(method="post" action="/blink" style="margin-top:1.5em;")
				div(class="form-group")
					input(type="submit" class="btn btn-info" value="Parpadear")
			form(method="post" action="/stop" style="margin-top:1.5em;")
				div(class="form-group")
					input(type="submit" class="btn btn-info" value="Parar de Parpadear")					
